.login{
    position: relative;
    width: 1600px;
    height: 773px;

    background: #0F0F0F;
}
.Ellipse1{
    /* Ellipse 1 */

    position: absolute;
    width: 302px;
    height: 302px;
    left: 821px;
    top: 37px;

    background: linear-gradient(180deg, #530061 0%, #0D0A30 100%);
    border-radius: 50%;

}
.Ellipse2{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 1220.84px;
    top: 530.82px;

    background: linear-gradient(180deg, #300061 0%, #0A1030 100%);
    transform: rotate(-28.5deg);
    border-radius: 50%;
}

.login-frame1{
    position: absolute;
    width: 380px;
    height: 636px;
    right: 228px;
    top: 60px;
    /* top: calc(50% - 796px/2 + 6px); */

    /* Glass1 Fill-Carey

    Make ya fill as glass
    */
    background: linear-gradient(321.23deg, rgba(191, 191, 191, 0.062) 5.98%, rgba(0, 0, 0, 0) 66.28%), rgba(0, 0, 0, 0.14);
    box-shadow: -8px 4px 5px rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(26.5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    border-style:solid;
    
}
.login-frame2{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 101px;

position: absolute;
width: 400px;
height: 652px;
left: 40px;
top: 97px;

}

.login-frame3{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 47px;

width: 400px;
height: 491px;
}


.upper-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;

    width: 400px;
    height: 368px;
}

.login-text{
    /* Login text */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 135px;
    height: 71px;
}

.login-text-div
{
    width: 98px;
    height: 49px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */

    color: #FFFFFF;
    
}
.sub-text{
    /* Glad you’re back.! */

    width: 135px;
    height: 22px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #FFFFFF;

}

.credentials{
    /* credentials */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;

    width: 400px;
    height: 283px;
}


.username{
    /* Username */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 16px;
    gap: 10px;

    width: 305px;
    height: 55px;

    border: 1px solid #FFFFFF;
    border-radius: 12px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.username-text{
    width: 98px;
    height: 27px;
    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.password-rem{
        
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 400px;
    height: 89px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.password{
    
    /* Password */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px;
    gap: 10px;

    width: 305px;
    height: 55px;

    border: 1px solid #FFFFFF;
    border-radius: 12px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.password-text{
    
    /* Password */


    width: 98px;
    height: 27px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 39px;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}


.reminder-div{
    
/* Remember */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 136px;
height: 22px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.checkbox-div{
    /* fluent:checkbox-checked-16-filled */

width: 18px;
height: 18px;
top: 150px

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}
.remember-me-text{
    
/* Remember me */

width: 114px;
height: 22px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 38px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.login-bt-fp{
    /* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 300px;
height: 89px;
/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}

.login-bt-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 10px;
    gap: 8px;
    
    width: 305px;
    height: 55px;
    
    background: linear-gradient(90.57deg, #628EFF 9.91%, #8740CD 53.29%, #580475 91.56%);
    border-radius: 12px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    
    color: #FFFFFF;
}

.fp-text{
    
width: 140px;
height: 22px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #FFFFFF;

}
ul{
    list-style-type: none;
}
li{
    float: left;
}
li img{
    padding: 16px;
}













